body{
    text-align:center; 
    background-color:lightseagreen;
   }
   #P1{
     font-variant:small-caps;
     font-size:80px;
     color:red;
   }
   #Reasons{
     font-size:50px;
   }
   #Reason1{
     font-size:30px;
     color:white;
   }
   #Pic1{
     border-style:solid;
     border-color:yellow;
     padding:15px;
     width:300px;
     height:300px;
   }
   #Reason2{
     font-size:20px;
     color:white;
   }
   #Pic2{
     border-style:solid;
     border-color:yellow;
     padding:15px;
     width:300px;
     height:300px;
   }
   #Pic3{
     border-style:solid;
     border-color:yellow;
     padding:15px;
     width:300px;
     height:300px;
   }
   #Pic4{
     border-style:solid;
     border-color:yellow;
     padding:15px;
     width:300px;
     height:300px;
   }
   #Pic5{
     border-style:solid;
     border-color:yellow;
     padding:15px;
     width:300px;
     height:300px;
   }
   #Reason3{
     font-size:20px;
     color:white;
   }
   #Reason4{
     font-size:20px;
     color:white;
   }
   #Reason5{
     font-size:20px;
     color:white;
     
   }
   #ButtonNext{
     background-color:pink;
     width:80px;
     font-size:20px;
     border-radius:20px;
   }